{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h1 class="mb-5 mt-3" align="center">Sign Up</h1>
  <div class="form-group">
    <label for="email">Email Addresse</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Email eingeben"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Namen</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Namen"
    />
  </div>
  <div class="form-group">
    <label for="password1">Passwort</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Passwort eingeben"
    />
  </div>
  <div class="form-group">
    <label for="password2">Passwort (Bestätigen)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Passwort erneut eingeben"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Absenden</button>
</form>
{% endblock %}
